.order-timeline {
  height: 10px;
  /* background-color: #f0f0f0; */
  border-radius: 20px;
  position: relative;
  margin-top: 60px;
}

.progress-bar {
  height: 100%;
  border-radius: 20px;
  position: absolute;
  margin-top: 12px;
  left: 0;
}

.states {
  display: flex;
  position: relative;
}

.state {
  position: absolute;
  font-size: 14px;
  bottom: -40px;
  transform: translateX(-50%);
  padding: 10px;
  /* margin-left: 36px; */
  border-radius: 10px;

  background-color: #ffffff;
  border: 1px solid #000000;
}

.state:nth-child(1) {
  left: 0%;
}

.state:nth-child(2) {
  left: 25%;
}

.state:nth-child(3) {
  left: 50%;
}

.state:nth-child(4) {
  left: 75%;
}

.state:nth-child(5) {
  right: 0%;
}

.order-filter {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.filter-label {
  margin-right: 10px;
}
