.doctor-profile-page1 {
    display: flex;
    flex-direction: column;
    align-items: center;
   /* background-color: #888; */
}

.doctor-profile-container1 {
    background-color: #f5f5f5;
    border-left: 5px solid #4e73df;
    margin-top: 50px;
    width: 550px;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.doctor-profile-container1 h2 {
    text-align: center;
    color: #4e73df;
}

.doctor-info1 {
    display: flex;
    align-items: center;
}

.profile-image1 {
    width: 250px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
    border-radius: 50%;
}

.profile-image1 img {
    width: 100%;
    height: 100%;
    object-fit: inherit;
    border-radius: 0;
    object-fit: cover;
    border-radius: 50%;
    transition: box-shadow 0.3s ease;
    
}

.text-content1 {
    max-width: 400px;
}

.text-content1 p {
    margin: 8px 0;
    font-size: 16px;
    animation: fadeIn 0.5s ease;
}

.appointments-container1 {
    width: 80%;
    margin-bottom: 10px;
}

.appointments-container1 h3 {
    color: #4e73df;
}

.appointments-table1 {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

.appointments-table1
th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.appointments-table1
th {
    background-color: #4e73df;
}

.no-appointments {
    text-align: center;
    color: #888;
}

button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #c82333;
}


