name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: Install Dependencies
      run: npm i express mongoose bcryptjs cors express fs helmet jsonwebtoken morgan multer nodemailer nodemon path razorpay rotating-file-stream
      working-directory: backend
    - name: Build
      run: npm run build --if-present
      working-directory: backend
    - name: Run Tests
      run: npm test
      working-directory: backend
